--find-links https://download.pytorch.org/whl/torch_stable.html

pandas==1.3.5
# pytorch就是numpy的一个augograd,tensor, GPU的高级封装
torch==2.1.2
torchdata==0.7.1
# tokenize的一类实现
torchtext==0.16.2
# 负责管理机器翻译的一些公开数据集，例如IWSLT-国际口语翻译worksop
spacy==3.2.6
altair==4.1.0
flake8==7.1.2
black==24.8.0
GPUtil==1.4.0
wandb==0.19.9
# Matplotlib 画图
matplotlib==3.7.5